.card {
  background-color: var(--card);
  border-radius: 0px;
  box-shadow: -1px 2.5px 0px rgb(27, 27, 27);
  overflow: hidden;
  transition: all 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  font-family: "Poppins", sans-serif;
  transform: skewX(-25deg);
  max-width: 40%;
  margin-right: auto;
  margin-left: 0%;
  border: 1px solid #333333;
}

h1, h2, h3, p {
  color: var(--card-text);
  pointer-events: none; /* Disabilita gli eventi del mouse */
}

.card:hover {
  transform: skewX(-25deg) scale(1.05);
  box-shadow: -5px 8px 0px rgb(27, 27, 27);
}

.card-content {
  padding: 20px;
  transform: skewX(10deg);
}

@media (max-width: 768px) {
  .card {
    max-width: 60%;
  }
}

@media (max-width: 480px) {
  .card {
    max-width: 80%;
  }
}
